::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  header .top-header-mobile {
    display: none;
  }
}
header .top-header-pc {
  background: #f6f6f6;
  padding: 10px;
}
@media (max-width: 768px) {
  header .top-header-pc {
    display: none;
  }
}
header .top-header-pc .container .row .col-md-2 .top-header-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}
header .top-header-pc .container .row .col-md-2 .top-header-icon .fa {
  font-size: 1rem;
}
header .top-header-pc .container .row .col-md-2 .top-header-icon h3 {
  font-size: 1rem;
  margin-bottom: 0px !important;
  margin-left: 10px;
  margin-top: 0px !important;
  font-weight: 400;
}

.custom-bars {
  border: none;
  background: transparent;
  font-size: 1.2rem;
}

.mobile_menu {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.mobile_menu .actionHref {
  width: 48%;
  border: 0.0625rem solid #ed017f;
  color: #f84ca2;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile_menu .actionHref a {
  color: #f84ca2;
  text-decoration: none;
  font-weight: bold;
  text-align: center !important;
}

.menu_wrap {
  display: block !important;
  width: 100%;
}
.menu_wrap .menu-wrapper {
  display: block !important;
  width: 100%;
}
.menu_wrap .menu-wrapper .custom-bars {
  float: left !important;
  margin-right: 0.625rem !important;
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
}
.menu_wrap .menu-wrapper h4 {
  display: inline-block;
}
.menu_wrap .menu-wrapper .cart_wrapper {
  float: right !important;
}
.menu_wrap .menu-wrapper .cart_wrapper .store {
  display: inline-block;
  position: relative;
  text-align: right;
  width: 2.1875rem;
  margin: 0 10px;
}

.top-header-mobile {
  background: #fff !important;
}

.bg-body-tertiary {
  padding: 5px !important;
  background: #ffffff !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.wide_menu {
  display: flex;
  background-color: #fff;
  margin-bottom: 0.3125rem;
  flex-wrap: wrap;
  padding: 4px;
}
.wide_menu .menu {
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 0.0625rem 0.0625rem 0 0;
  height: 3.125rem;
  padding: 0 0.25rem;
  width: 50%;
  align-items: center;
  display: flex;
  text-decoration: none !important;
  font-size: 0.8125rem;
}
.wide_menu .menu img {
  height: 22px;
  width: 16px;
  pointer-events: none;
  box-sizing: border-box;
  color: #000 !important;
  fill: #000 !important;
}
.wide_menu .menu .titles {
  color: #4a4a4a;
  font-size: 0.8125rem;
}
.wide_menu .menu .text-muted {
  color: #979797;
  display: block;
  font-size: 0.625rem;
  margin-top: 0.125rem;
}
.wide_menu .menu span {
  margin-left: 0.3rem;
}
.wide_menu .menu .menu_titles {
  margin-left: 0.5rem;
}

.search_product {
  width: 100%;
  font-size: 0.5rem;
  height: 2.5rem;
  margin-top: 0.625rem;
  display: flex;
}
.search_product form {
  width: 100%;
  height: 100%;
  display: flex;
}
.search_product form .input_search {
  position: relative;
  width: 100%;
  font-size: 0.9rem !important;
}
.search_product form .input_search input {
  background-color: #ccc;
  height: 100% !important;
  width: 100%;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 0.9rem !important;
  height: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border: none;
}
.search_product form .input_search input:focus {
  border: 0px !important;
  outline: none !important;
}
.search_product form .input_search img {
  display: block;
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
}

.subItems {
  text-decoration: none !important;
  font-size: 0.8rem;
  color: #000000;
  font-weight: 400 !important;
  padding: 10px;
}

.accordion-header {
  margin-bottom: 10px;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: 0px !important;
  border-bottom: 1px solid #ccc !important;
}

.accordion-body {
  display: flex;
  flex-direction: column;
  padding: 5px !important;
}
.accordion-body .submenu-items {
  text-decoration: none;
  font-size: 0.8rem;
  color: #000000;
  padding: 0 6px !important;
  margin-top: 10px;
  margin-bottom: 3px;
}

.catHeading {
  font-size: 0.98rem;
  font-weight: bold;
  padding: 10px;
  margin-bottom: -7px !important;
}

.fixed-menu {
  background-color: #fff;
  bottom: 0;
  display: flex;
  height: 3.4375rem;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.fixed-menu .fixed-menuItem {
  padding: 0.5rem 0 0.6875rem;
  text-align: center;
  width: 25%;
  cursor: pointer;
}
.fixed-menu .fixed-menuItem img {
  vertical-align: middle;
}
.fixed-menu .fixed-menuItem p {
  font-size: 0.9rem;
  margin-top: 0.3125rem;
  text-transform: capitalize;
  font-weight: 600;
  padding: 0;
}
.fixed-menu .fixed-menuItem p:focus {
  color: #e41a80;
  font-weight: 500;
}

@media (min-width: 768px) {
  .fixed-menu {
    display: none !important;
  }
}
.main-header {
  background: #9c3b9e;
  font-weight: 600;
}
@media (max-width: 768px) {
  .main-header {
    display: none;
  }
}
.main-header .inner-mainheader {
  background-color: #9c3b9e;
  color: #4a4a4a;
  height: 3.75rem;
  margin: 0 auto;
  max-width: 90rem;
  align-items: center;
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
}
.main-header .inner-mainheader .logo {
  margin-right: 3vw;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}
.main-header .inner-mainheader .rightmainHeader {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main-header .inner-mainheader .rightmainHeader .storelink {
  color: #fff;
  font-size: 0.8125rem;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin: 0 5px;
}
.main-header .inner-mainheader .rightmainHeader .searchWrapper {
  flex-grow: 1;
  display: flex;
  margin-left: 20px;
}
.main-header .inner-mainheader .rightmainHeader .searchWrapper form {
  max-width: 40vw;
  background-color: #fff;
  border-radius: 0.25rem;
  margin: 0 auto;
  position: relative;
  width: 37.5rem;
  display: flex;
  height: 2.1875rem;
}
.main-header .inner-mainheader .rightmainHeader .searchWrapper form input {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  font-size: 0.75rem;
  height: 2.1875rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  width: 100%;
  border: 0px !important;
  outline: none !important;
}
.main-header .inner-mainheader .rightmainHeader .searchWrapper form .btnSubmit {
  background-color: #fba100;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  outline: none !important;
  width: 2.8125rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 0px !important;
}
.main-header .inner-mainheader .rightmainHeader .helpWrapper {
  display: flex;
  height: 100%;
  position: relative;
  color: #4a4a4a;
  align-items: center;
}
.main-header .inner-mainheader .rightmainHeader .helpWrapper .helpAction {
  margin-top: 5px;
  color: #fff;
  font-size: 0.8125rem;
  padding: 0.9375rem;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none !important;
}
.main-header .inner-mainheader .rightmainHeader .helpWrapper ul {
  top: 3.75rem;
  transform: translateY(-5%);
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.1);
  height: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  transition: height 0.3s ease-in-out;
  visibility: hidden;
  width: 10rem;
  z-index: 7;
}
.main-header .inner-mainheader .rightmainHeader .helpWrapper ul li {
  color: #4a4a4a;
  font-size: 0.75rem;
  list-style: none;
  position: relative;
  background: #9c3b9e;
}
.main-header .inner-mainheader .rightmainHeader .helpWrapper ul li a {
  display: block;
  height: 100%;
  padding: 0.45rem 1.25rem;
  width: 100%;
  padding-bottom: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.helpWrapper:hover ul {
  height: auto;
  transform: translateY(0);
  visibility: visible !important;
}

.loginAction {
  display: flex;
  align-items: center;
}
.loginAction a {
  padding: 0.375rem 1rem;
  color: #fff;
  font-size: 0.8125rem;
  align-items: center;
  text-decoration: none;
}

.cartButton {
  text-decoration: none !important;
  background-color: #fba100;
  border-radius: 0.125rem;
  height: 2.5rem;
  padding: 0.9375rem 1.25rem;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  border-radius: 0.125rem;
  color: #000;
  font-size: 0.8125rem;
  font-weight: 600;
  margin-left: 0.5rem;
}
.cartButton img {
  margin-right: 0.3125rem;
  color: #fff;
  font-size: 0.8125rem;
}

.Count {
  background-color: #2d9e6d;
  border-radius: 0.125rem;
  font-size: 0.8125rem;
  font-weight: 600;
  margin-left: 0.5rem;
  padding: 0.1875rem 0.375rem;
  color: #e2e2e2;
}

.menu-header {
  width: 100%;
  background: #590a5b;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .menu-header {
    display: none;
  }
}

.categoryLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryLinks li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fba100;
}

.mega-menu {
  border-top: 3px solid #590a5b;
  margin-top: 35px;
  position: absolute;
  z-index: 1;
  width: 90%;
  opacity: 0;
  /* Set initial opacity to 0 */
  visibility: hidden;
  /* Hide the mega-menu initially */
  transition: opacity 0.9s ease, visibility 0.9s ease;
}

#sidebar {
  float: left;
  width: 300px;
  height: 70vh;
  background: #f4f4f4;
}

.ul-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.ul-list li {
  margin-top: 20px;
  list-style: none;
}

.ul-list a {
  color: #000;
  margin: 10px;
}

.ul-list a:hover {
  background: #fff;
  color: #590a5b;
}

.main-megaMenu {
  width: calc(100% - 300px);
  background: #fff;
  height: 70vh;
  float: right;
  padding: 10px;
}

.mega-menu.show {
  opacity: 1;
  /* Show the mega-menu when it has the 'show' class */
  visibility: visible;
}

.menuWrapper {
  opacity: 0;
  /* Set initial opacity to 0 */
  visibility: hidden;
  /* Hide the content initially */
  transition: opacity 0.9s ease, visibility 0.9s ease;
  /* Add transitions for opacity and visibility */
  color: #000;
  background: #590a5b;
  height: 69vh;
}
.menuWrapper .mega-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menuWrapper .mega-wrapper .sub-menus {
  width: 30%;
  margin-top: 40px;
}
.menuWrapper .mega-wrapper .sub-menus h5 {
  padding: 0 15px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fba100;
}
.menuWrapper .mega-wrapper .sub-menus ul li {
  list-style: none;
  margin: 10px 0;
}
.menuWrapper .mega-wrapper .sub-menus ul li a {
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
}

.menuWrapper.show {
  opacity: 1;
  /* Show the content when it has the 'show' class */
  visibility: visible;
}

.wrapper-menus {
  margin-top: 30px !important;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 941px) {
  .wrapper-menus {
    display: none;
  }
}
.wrapper-menus a {
  width: 30%;
  text-decoration: none !important;
}
.wrapper-menus a .menus_inner {
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(211, 25, 25, 0.1) 1px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-menus a .menus_inner span {
  font-size: 0.9rem;
  color: #590a5b;
  text-transform: capitalize;
}
.wrapper-menus a .menus_inner i {
  margin-right: 10px;
  color: #ed017f;
}
.wrapper-menus a .menus_inner:hover {
  box-shadow: rgba(90, 10, 91, 0.5215686275) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: #fba100;
}

.slider-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  height: auto;
}

.slider {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  height: 300px;
  width: 100%;
  min-width: 100%;
  background-size: cover;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  color: #000;
}

#slide1 {
  background-image: url("../images/slider/slide1.jpg");
}

#slide2 {
  background-image: url("../images/slider/slide2.webp");
}

#slide3 {
  background-image: url("../images/slider/slide3.webp");
}

#slide4 {
  background-image: url("../images/slider/slide4.jpg");
}

.prev,
.next {
  border: none;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 100%;
  position: absolute;
  top: 40%;
}

.prev {
  left: 10px;
  display: none;
}

.next {
  right: 10px;
  display: none;
}

.slider-container:hover > .slideBtn {
  display: block;
  transition: transform 0.3s ease-in;
  cursor: pointer;
}

.sideWrapper {
  margin-top: 20px;
  overflow-x: hidden;
}
.sideWrapper img {
  border-radius: 5px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.todays-deal {
  margin: auto;
  width: 100%;
  background: #590a5b;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 40px 0;
}
.todays-deal h3 {
  color: #fba100;
  font-weight: bold;
  font-size: 1.3rem;
}

.section-wrapper {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 90rem;
  width: 95%;
}

.pro-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .pro-wrapper {
    overflow-x: scroll !important;
    padding-bottom: 0.625rem;
    flex-shrink: 0;
    height: 20rem;
    flex-wrap: nowrap !important;
    flex-direction: row;
  }
}

.product-list {
  list-style: none;
  padding: 10px;
  min-height: 9.0625rem;
  width: calc(33.33333% - 0.9375rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}
@media (min-width: 992px) {
  .product-list {
    min-height: 9.0625rem;
  }
}
@media (min-width: 768px) {
  .product-list {
    margin: 0.46875rem;
    width: 100%/3;
    width: calc(33.33333% - 0.9375rem);
  }
}
@media (max-width: 768px) {
  .product-list {
    width: 90%;
    float: left;
    margin-left: 1.25rem;
    background-color: #fff;
    list-style-type: none;
    margin-top: 0.9375rem;
  }
}
.product-list .product-link .product_wrap {
  display: flex;
  align-items: center;
  padding: 10px;
}
@media (max-width: 992px) {
  .product-list .product-link .product_wrap {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .product-list .product-link .product_wrap {
    flex-direction: column;
  }
}
.product-list .product-link .product_wrap .product-image {
  height: 6.25rem;
  padding-right: 0.625rem;
}
.product-list .product-link .product_wrap .product-image img {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: auto;
}
.product-list .product-link .product_wrap .product-info {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-list .product-link .product_wrap .product-info .title {
  font-size: 0.9375rem;
  font-weight: 400;
  height: 1.875rem;
  margin: 0.3125rem 0 0.625rem;
}
.product-list .product-link .product_wrap .product-info span {
  display: flex !important;
  align-items: center !important;
}
.product-list .product-link .product_wrap .product-info span .off-price {
  align-items: center;
  border-radius: 0.5rem;
  color: #ff3b3b;
  display: flex;
  font-size: 0.625rem;
  font-weight: 600;
  height: 1.375rem;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  z-index: 9;
  background-color: rgba(255, 59, 59, 0.2);
}
.product-list .product-link .product_wrap .product-info span .amount {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  margin-right: 0.3125rem;
}
@media (min-width: 768px) {
  .product-list .product-link .product_wrap .product-info span .amount {
    font-size: 1.25rem;
    margin-bottom: 0.4375rem;
  }
}
.product-list .product-link .product_wrap .product-info span .text-muted {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 0 !important;
}
.product-list .product-link .product_wrap .product-info .saved {
  color: #33b27b;
  display: block;
  font-size: 0.8125rem;
  font-weight: 400;
  margin: 0.125rem 0;
}

.sponsored-products {
  background-color: #fff;
  border-radius: 0 0 0.3125rem 0.3125rem;
  padding: 0.46875rem;
}
@media (min-width: 768px) {
  .sponsored-products {
    padding: 0 0 0.3125rem;
  }
}
.sponsored-products .sponsored-wrapper {
  overflow-x: auto;
  padding-bottom: 0.625rem;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: flex;
  overflow-x: scroll !important;
}
.sponsored-products .sponsored-wrapper .sponsored-list {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
  list-style-type: none;
  margin-top: 0.9375rem;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .sponsored-products .sponsored-wrapper .sponsored-list {
    width: calc(20% - 1.125rem);
    float: left;
    margin-left: 0.9375rem;
  }
}
@media (max-width: 768px) {
  .sponsored-products .sponsored-wrapper .sponsored-list {
    width: 90%;
    float: left;
    margin-left: 1.25rem;
    background-color: #fff;
    list-style-type: none;
    margin-top: 0.9375rem;
  }
}
.sponsored-products .sponsored-wrapper .sponsored-list .sponsored-link {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.9375rem;
  width: 100%;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .sponsored-products .sponsored-wrapper .sponsored-list .sponsored-link {
    height: 21.125rem;
    max-height: 21.875rem;
  }
}
.sponsored-products .sponsored-wrapper .sponsored-list .sponsored-link .sponsored-image {
  width: 150px;
}
@media (min-width: 768px) {
  .sponsored-products .sponsored-wrapper .sponsored-list .sponsored-link .sponsored-image {
    height: 12.5rem;
  }
}
.sponsored-products .sponsored-wrapper .sponsored-list .sponsored-link .sponsored-image img {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
}
.sponsored-products .sponsored-wrapper .sponsored-list .sponsored-link .sponsored-info .title {
  font-size: 0.8125rem;
  font-weight: 500;
  height: 1.25rem;
  margin: 0.3125rem 0 0.625rem;
  white-space: normal;
}
@media screen and (min-width: 768px) {
  .sponsored-products .sponsored-wrapper .sponsored-list .sponsored-link .sponsored-info .title {
    font-size: 0.9375rem;
    height: 1.875rem;
  }
}
.sponsored-products .sponsored-wrapper .sponsored-list .sponsored-link .sponsored-info .sponsored-price {
  font-family: sans-serif;
  margin-right: 1px;
  margin-bottom: 0.4375rem;
}

.shopnowWrapper {
  min-height: 15.5625rem;
}
.shopnowWrapper :last-child {
  margin-bottom: 1.25rem;
}
.shopnowWrapper .shopNowWrapper {
  width: 100%;
  overflow: hidden;
  padding: 0;
  overflow-x: scroll !important;
  padding-bottom: 0.625rem;
  display: flex;
}
@media (min-width: 992px) {
  .shopnowWrapper .shopNowWrapper {
    margin-left: -0.25rem;
    width: 101%;
    width: calc(100% + 0.5rem);
  }
}
.shopnowWrapper .shopNowWrapper .shopnowWrap {
  list-style: none;
  border-radius: 0.3125rem;
  margin-top: 0;
  width: calc(25% - 1.5625rem);
  float: left;
  margin-left: 1.25rem;
}
@media (max-width: 576px) {
  .shopnowWrapper .shopNowWrapper .shopnowWrap {
    float: left;
    max-width: 100vw;
    width: calc(50% - 0.3125rem);
    border-radius: 0.3125rem;
    flex-shrink: 0;
    margin-top: 0;
  }
}
.shopnowWrapper .shopNowWrapper .shopnowWrap .showNowProduct {
  margin-bottom: 1.25rem;
  display: block;
  margin: 0;
  width: 100%;
  color: #000;
}
.shopnowWrapper .shopNowWrapper .shopnowWrap .showNowProduct .imageWrapper {
  margin-bottom: auto;
  border-radius: 0.3125rem 0.3125rem 0 0;
  margin-bottom: -0.3125rem;
  overflow: hidden;
}
.shopnowWrapper .shopNowWrapper .shopnowWrap .showNowProduct .imageWrapper img {
  background: transparent;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}
.shopnowWrapper .shopNowWrapper .shopnowWrap .showNowProduct .productDetails {
  padding: 0.9375rem;
  padding-bottom: unset;
}
.shopnowWrapper .shopNowWrapper .shopnowWrap .showNowProduct .productDetails h1 {
  font-size: 1.15rem;
  text-transform: uppercase;
  margin: auto;
  color: #5a5f66;
  font-weight: 700;
  height: 1rem;
}
@media (max-width: 768px) {
  .shopnowWrapper .shopNowWrapper .shopnowWrap .showNowProduct .productDetails h1 {
    margin: auto;
    color: #5a5f66;
    font-size: 0.9125rem;
    font-weight: 700;
  }
}
.shopnowWrapper .shopNowWrapper .shopnowWrap .showNowProduct .productDetails p {
  color: #4e4e4e;
  font-size: 0.875rem;
  height: 1rem;
  margin: 1.25rem 0;
}
.shopnowWrapper .shopNowWrapper .shopnowWrap .showNowProduct .productDetails span {
  font-size: 0.8125rem;
  color: #8b054d;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 10px;
  text-transform: uppercase;
  height: 1rem;
}
.shopnowWrapper .shopNowWrapper .shopnowWrap .showNowProduct .productDetails span i {
  height: 0.625rem;
  margin-left: 0.3125rem;
  padding-bottom: 0.0625rem;
}/*# sourceMappingURL=style.css.map */